nav.navigation
	.navigation_wrapper
		a.navigation_link(href="/")
			| Studioplate

			svg.navigation_link_icon

		ul.navigation_list
			a.navigation_list_item(href="/about")
				li.navigation_list_link About

			a.navigation_list_item(href="/collection")
				li.navigation_list_link Collections
